.pagination {
    .paginationList {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: center;
    }

    .paginationLink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 0 5px;

        a {
            padding: 5px 11px;
            background-color: #ffffff;
            border-radius: 50%;

            color: #000000;
        }
    }

    .paginationActiveLink {
        a {
            background-color: #000000;
            color: #ffffff;
        }
    }
}
