.todoList {
    .todoListHeader {
        display: flex;
    }

    .todoListHeaderName {
        width: 400px;
    }

    .todoListHeaderFavorite,
    .todoListHeaderStatus {
        width: 100px;
        text-align: center;
    }
}
