.pagination {
    margin-top: 40px;

    .paginationList {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: center;
    }

    .paginationLink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin: 0 5px;

        a {
            background-color: #ffffff;
            border-radius: 50%;
            color: #000000;
            border: 1px solid #292929;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }
    }

    .paginationActiveLink {
        a {
            background-color: #000000;
            color: #ffffff;
        }
    }
}
