.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
    background-color: #fff;
    border-top: 1px solid darkgrey;

    .todoBodyWrapper {
        display: flex;
        width: 79%;
    }

    .todoButtonsWrapper {
        width: 21%;
        display: flex;
        justify-content: space-between;
    }

    .todoHeading {
        width: 400px;
        margin: 0;
        font-size: 22px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .todoFavorite {
        display: flex;
        justify-content: center;
        width: 100px;
    }

    .todoFavoriteIcon {
        width: 20px;
        height: 20px;
        align-self: center;
    }

    .todoStatus {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Rubik', sans-serif;
        width: 100px;

        img {
            width: 20px;
        }
    }
}
