.inputWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .inputWrapperInput {
        font-size: 16px;
        padding: 7.5px 10px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #282424;
        font-family: 'Rubik', sans-serif;


        &::placeholder {
            font-size: 16px;
            font-family: 'Rubik', sans-serif;
        }
    }

    .inputWrapperLabel {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 700;
        color: #000000;
    }

    .inputWrapperError {
        margin-top: 10px;
        color: #e31111;
    }
}


